*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/runConfigurations.xml
gradlew
gradlew.bat
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/dictionaries/franc.xml
.idea/inspectionProfiles/Project_Default.xml
gradle/wrapper/gradle-wrapper.jar
